@using MVCDesignPattern.ViewModels
@model FacultyViewModel

@if(Model is not null)
{
	<table class="table">
		<tr>
			<td>Name: </td>
			<td>@Model.Name</td>
		</tr>
		<tr>
			<td>Designation: </td>
			<td>@Model.Designation</td>
		</tr>
		<tr>
			<td>Experience: </td>
			<td>@Model.Experience</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a asp-controller="Faculty" asp-action="FacultyList" class="btn btn-outline-primary">Back</a>
			</td>
		</tr>
	</table>
}
else
{
	<div class="alert alert-danger">
		No record found
	</div>
}